<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /estoque_ds/
  
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [L,R=301]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/estoque_ds/index\.html$
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  
  <FilesMatch "^(service-worker\.js|manifest\.json)$">
    ExpiresDefault A0
    Header set Cache-Control "no-cache, no-store, must-revalidate, max-age=0"
  </FilesMatch>
  
  <FilesMatch "\.html$">
    ExpiresDefault A300
    Header set Cache-Control "public, max-age=300"
  </FilesMatch>
</IfModule>
